@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey&family=Luckiest+Guy&display=swap");

.detail {
  width: 100%;
  height: max-content;
}
.detail__img {
  width: 100vw;
  height: 550px;
  position: relative;
  opacity: 0.4;
}

.detail__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail__top {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}

.detail__title {
  width: 60%;
  font-size: 3.5rem;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1rem;
  font-family: "Luckiest Guy", cursive;
}

.detail__title::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background: red;
  bottom: 0;
  border-radius: 10px;
}

.tagline {
  font-size: 1.2rem;
  text-transform: none;
  font-weight: 300;
  margin-bottom: 1rem;
  font-family: "Arapey", serif;
}

.detail__labels {
  display: flex;
  margin: 1rem 0;
}

.detail__label {
  margin-right: 2rem;
  font-weight: 300;
}

.detail__description {
  width: 50%;
  height: max-content;
  padding: 0 3rem;
  font-size: clamp(1.2rem, 50vw, 1rem);
  line-height: 1.5;
  margin-top: 1rem;
}

.label {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
}

.rating {
  background: red;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  border-radius: 15px;
  font-size: 0.9rem;
}

.detail__overview {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 1rem;
}

.detail__buttons {
  margin: 1rem 0;
}

.detail__trailer {
  width: max-content;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid #fff;
  transition: background 500ms ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
}

.detail__trailer:hover {
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
}

.detail__play {
  width: max-content;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
  background: #fff;
  transition: background 500ms ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 1rem;
}

.detail__trailer_section {
  width: 100%;
  height: max-content;
  border: none;
  display: flex;
  margin: 0;
  align-items: center;
  background: transparent;
}

.detail__similars {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 2rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.detail__similars::-webkit-scrollbar {
  display: none;
}
.similar_label {
  margin: 1rem 2rem;
  padding-top: 2rem;
}
.detail__similar {
  width: 200px;
  height: 250px;
  margin-bottom: 1rem;
  margin-right: -1rem;
  object-fit: contain;
  scroll-behavior: smooth;
  transition: transform 450ms;
  cursor: pointer;
}

.detail__similar:hover {
  transform: scale(1.09);
}

.detail--fadeBottom {
  width: 100%;
  height: 7.4rem;
  bottom: 0;
  left: 0;
  margin-top: -6.5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.4678),
    #000
  );
}

.detail__banner {
  width: 100%;
  height: fit-content;
  display: flex;
  margin: 0.5rem 3rem;
  justify-content: space-between;
  position: relative;
}

.youtube {
  width: 500px;
  height: 300px;
  border: none;
  z-index: 5;
  margin-right: 5rem;
}

.sub_description {
  height: 100%;
  width: 50%;
}
.sub__description_box {
  width: 100%;
  margin: 1rem 0;
}
.desc_title {
  font-size: 1.1rem;
  margin-right: 0.3rem;
}
.detail__genre {
  margin: 0 0.2rem;
  position: relative;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.2rem 0.5rem;
  background: red;
  border-radius: 15px;
}

.detail__des {
  font-weight: 600;
  margin: 0 0.2rem;
  padding: 0.2rem 0.3rem;
  line-height: 1.8;
  border-radius: 25px;
  white-space: break-spaces;
  background: rgba(255, 255, 255, 0.15);
}

.detail__banner::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.05);
  bottom: 0;
  position: absolute;
  right: 0;
  margin: -1rem 3rem;
}
