:root {
  --background-color: #000000;
  --text-color: #fff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: var(--text-color);
  background: var(--background-color);
  font-family: "Arapey", serif;
}

.app {
  overflow-x: hidden;
}
